@font-face {
    font-family: "Whitney-Bold";
    src: url("fonts/Whitney-Bold.woff2")  format("woff2");
}

@font-face {
    font-family: "Whitney-Book";
    src: url("fonts/Whitney-Book.woff2")  format("woff2");
}
/*************** MAIN ELEMENTS ***************/

body {
    margin:0;
    padding:0;
}

div {
    position:absolute;
}

#wrapper {
    display:block;
    top: 0;
    left: 0;
    width: 728px;
    height: 90px;
    background: #161616;
	overflow: hidden;
}

#wrect {
    width: inherit;
    height: inherit;
    background: #161616;
    pointer-events: none;
}

#border {
    border: 1px solid #9a9a9a;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    pointer-events: none;
}

#bgexit {
    width: inherit;
    height: inherit;
    cursor: pointer;
}

/******************** LOGO ********************/

#logo {
    cursor: pointer;
    width: 91px;
    height: 29px;
    top: 10px;
    right: 32px;
}

/******************** BUTTON ********************/

#cta {
    width: 116px;
    height: 30px;
    bottom: 10px;
    right: 20px;


}
#ctaInner {
    width: 94px;
    height: 30px;
    bottom: 0;
    left: 0;
    background-color: #ff9800;
    color: #282828;
    font-family: "Whitney-Bold", serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.icon {
    top: 0;
    right: 0;
    width: 22px;
    height: 30px;
    background-color: #ff6c00;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.icon:hover {
    background: #f98c3d;
}

.row {
    position: absolute;
    top: 10px;
    right: 8px;
    transition: right 0.3s;
    -webkit-transition: right 0.3s;
}

.row:hover {
   right: 6px;
}

#ctaInner:hover {
    color: #fff;
    background: #f98c3d;
}

/********************** TEXT **********************/

#text {
    left: 325px;
    top: 14px;
    width: inherit;
    height: inherit;
    font-family: "Whitney-Book", serif;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
}

.headline {
    width: inherit;
    height: inherit;
    top: 30px;
}

#text div.last {
    top: 0;
    line-height: 18px;
}

.white, #textTop {
    font-family: "Whitney-Bold", serif;
    font-size: 22px;
    line-height: 25px;
}

.yelow {
    color: #ff9800;
}

/********************** IMAGE **********************/

#images {
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
}

.img {
    width: inherit;
    height: inherit;
}